{
  "arrowParens": "always",
  "printWidth": 120,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "useTabs": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false
}
