@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #FCFCFC;
}

.scrollbar-theme::-webkit-scrollbar {
    width: 4px;
    position: absolute;
}

.scrollbar-theme::-webkit-scrollbar-track {
    position: absolute;
    background: transparent;
    border-radius: 10px;
}

.scrollbar-theme::-webkit-scrollbar-thumb {
    background: #eaecf0;
    border-radius: 10px;
}